@model IEnumerable<BuildArtifactFile>
<table class="artifacts">
<tbody>
  @foreach (var platformGroup in Model.GroupBy(_ => _.Platform).OrderByDescending(_ => _.Key))
  {
    var installer = platformGroup.FirstOrDefault(b => b.Title.Contains("Setup"));
    var binaries = platformGroup.FirstOrDefault(b => b.Title.Contains("Binaries"));
    if (installer != null || binaries != null)
    {
      <tr>
        @if (installer != null)
        {
          <td>@FormatInstallerLink(installer)</td>
        }
        else
        {
          <td>&nbsp;</td>
        }
        @if (binaries != null)
        {
          <td>@FormatBinariesLink(binaries)</td>
        }
        else
        {
          <td>&nbsp;</td>
        }
      </tr>
    }
  }
</tbody>
</table>

@helper FormatInstallerLink(BuildArtifactFile b)
{
  var link = Url.Action("Download", "Home", new { buildConfiguration = b.BuildResult.Configuration.Name, buildId = b.BuildResult.BuildId, name = b.Name });
  switch (b.Platform)
  {
    case "net-3.5":
      <a href="@link">Installer for .NET 3.5 / VisualStudio 2008 (@b.Extention)</a>
      break;

    case "net-4.0":
      if(b.Version.Build < 363)
      {
        <a href="@link">Installer for .NET 4.0 / VisualStudio 2010 (@b.Extention)</a>
      }
      else
      {
        <a href="@link">Installer for .NET 4.0 / VisualStudio 2010-2017 (@b.Extention)</a>
      }
      break;

    case "net-4.5":
      <a href="@link">Installer for .NET 4.5 / VisualStudio 2012 (@b.Extention)</a>
      break;

    default:
      <a href="@link">@b.Name</a>
      break;
  }
}

@helper FormatBinariesLink(BuildArtifactFile b)
  {
    var link = Url.Action("Download", "Home", new { buildConfiguration = b.BuildResult.Configuration.Name, buildId = b.BuildResult.BuildId, name = b.Name });
    switch (b.Platform)
    {
      case "net-3.5":
      <a href="@link">Binaries for .NET 3.5 (@b.Extention)</a>
                                        break;

      case "net-4.0":
      <a href="@link">Binaries for .NET 4.0 (@b.Extention)</a>
                                        break;

      case "net-4.5":
      <a href="@link">Binaries for .NET 4.5 (@b.Extention)</a>
                                        break;

      default:
      <a href="@link">@b.Name</a>
                 break;
    }
}
